Checks: '
-*,
bugprone-*,
-bugprone-easily-swappable-parameters,
cert-*,
cppcoreguidelines-*,
-cppcoreguidelines-avoid-const-or-ref-data-members,
-cppcoreguidelines-pro-bounds-pointer-arithmetic,
-cppcoreguidelines-owning-memory
modernize-*,
-modernize-avoid-c-arrays,
-modernize-use-nodiscard,
-modernize-type-traits,
readability-*,
-readability-identifier-length,
performance-*,
clang-analyzer-*,
performance-*,
hicpp-*,
-hicpp-special-member-functions,
-hicpp-avoid-c-arrays,
-hicpp-use-nullptr,
-hicpp-braces-around-statements,
-hicpp-no-array-decay
'