Checks: '
-*,
bugprone-*,
cert-*,
cppcoreguidelines-*,
-cppcoreguidelines-pro-bounds-pointer-arithmetic,
-cppcoreguidelines-owning-memory
modernize-*,
-modernize-avoid-c-arrays,
-modernize-use-nodiscard,
readability-*,
performance-*,
clang-analyzer-*,
performance-*,
hicpp-*,
-hicpp-special-member-functions,
-hicpp-avoid-c-arrays,
-hicpp-use-nullptr,
-hicpp-braces-around-statements,
-hicpp-no-array-decay
'