BasedOnStyle: Google
Standard: c++20
IndentWidth: 4
BreakBeforeBraces: Stroustrup
ColumnLimit: 80
AlignAfterOpenBracket: AlwaysBreak
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
AllowShortFunctionsOnASingleLine: All
AllowShortBlocksOnASingleLine: Always
BinPackParameters: false
BinPackArguments: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
IndentRequires: true
PenaltyReturnTypeOnItsOwnLine: 1000
BreakBeforeBinaryOperators: NonAssignment
AlignOperands: AlignAfterOperator