name: CI

on: [push]

env:
  BUILD_TYPE: Debug

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install GCC
        run: sudo apt install gcc-11 g++-11

      - name: Configure CMake
        env:
          CXX: g++-11
        run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

      - name: Build
        run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

      - name: Test
        working-directory: ${{github.workspace}}/build
        run: ctest -C ${{env.BUILD_TYPE}}

      - name: Format
        uses: DoozyX/clang-format-lint-action@v0.13
        with:
          source: './include'
          extensions: 'hpp'
          clangFormatVersion: 13
